<table width='100%' cellpadding='0' cellspacing='0' class='responsive-table'>
  <tr>
    <td align='center' style='padding: 20px 0 0'>
      <img
        src='https://d3ezi03spn2dw7.cloudfront.net/email_footer.png'
        alt=''
        height='253.63'
        class='responsive-img'
        style='display: block'
      />
    </td>
  </tr>
</table>