<p>Hey Admin,</p>
<p>User with name
  {{name}}
  has sent a dispute message on the plan
  {{planName}}</p>
<p>
  {{message}}
</p>

<p>Please attent to it ASAP, you can reach out via {{email}}</p>

<p>Best regards,</p>
<p>Presidy</p>