<p>Hey {{name}},</p>
<p>Welcome to the family </p>
<p>
  Here is your personal invite link to
  {{planName}}:
</p>
<p>
  {{familyLink}}
</p>

<p>Enjoy more premium values with our other plans</p>

<p>Best regards,</p>
<p>Presidy</p>