<p>Hey Admin</p>
<p>Create a family link for family ID
  {{familyId}}
  for the plan name
  {{planName}}:
</p>
<p>
  kindly add user with email
  {{email}}</p>
<p>Enjoy more premium values with our other plans</p>

<p>Best regards,</p>
<p>Presidy</p>